.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

#footer1 {
    background: #1e88e5;
}

#footer2 {
    background: #1565c0;
}

.footerlinks:hover {
    color: #82cfff;
}

.text-justify {
    text-align: justify;
}