.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

#footer1 {
    background: #1e88e5; /* albastru mediu */
}

#footer2 {
    background: #1565c0; /* albastru mai închis */
}

.footerlinks:hover {
    color: #82cfff; /* albastru foarte deschis */
}

.text-justify {
    text-align: justify;
}