.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

#footer1 {
    background: #4c1d95;
}

#footer2 {
    background: #5b21b6;
}

.footerlinks:hover {
    color: #c4b5fd;
}

.text-justify {
    text-align: justify;
}